.page3-container {
    text-align: center;
    margin: 20px;
    color: azure;
  }
  
  .gallery-title {
    font-size: 36px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
  }
  
  .image-gallery img {
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .image-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  